* {
    font-family: Helvetica;
    color: Seashell;
    background-color: black;
    text-align: center;
    margin: 0;
    padding:0;
    font-size: 22px;
    opacity:90%;
}

h2 {
    font-size:24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
/*------Header-------*/
.header {
    height:69px;
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width:157px;
}

nav {
width:35%;
}

ul {
display:flex;
flex-direction: row;
justify-content: space-between;
}

li {
list-style: none;
margin:10px;
}

/*---------Mission-----------*/
#mission {
position:relative;
width:92.3%;
margin:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#mission img {
width:100%;
}

.textwithbg {
position:absolute;
width:100%;
padding: 10px;
}
/*--------Featured------*/
#featured{
    padding-top:70px;
    width: 83.3333333%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.content {
    padding-top: 20px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.tea {  
    padding: 10px 10px;
}

.tea img{
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
}

/*----Locations ------*/
#locations_container {
    background-image: url("images/locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 92.3%;
    min-height: 500px;/*wait to do this until overflow issues arises*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 70px auto;
}

#locations {
    background: transparent;
    padding-top:70px;
    padding-bottom: 15px;
}

#locations h2{
    background-color: transparent;
}

.address{
    background-color:transparent;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.specific {
    background-color: black;
    opacity: 1;
    box-sizing: border-box;
    width:300px;
    margin: 15px 20px;
    padding: 10px;
}

.footer {
    height: 200px;
}

.copyright{
    margin-left:20px;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 30px;
}

